* {
    box-sizing: border-box;
}

.m-8 {
    margin: 8px; 
}

body {
    font-size: 112.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto;    
    line-height: 1.5;
    background-color: #EFF0EA;
}

header {
    display: flex;
    position: fixed;
}

main {
    display: flex;
    flex-wrap: wrap;    
    padding-top: 80px;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    color: white; 
    bottom: 0px; 
}

nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2 {
    margin: 0px;
}

.button {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.button__bookmark {
    display: flex;
    align-self: center;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul > li {
    display: flex;
    color: #46423f;
    justify-content: center;
    list-style: none;
    float: none;
    line-height: 25px;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
} 

.img__navbar {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    background: #e8e7e5;
    border-radius: 8px;
    padding: 15px;
} 

.box__bookmark {
    margin-left: 70%;
    margin-top: -40px;
    margin-bottom: 20px
}

.items1 {
    display: flex;
    color: #46423f;
    justify-content: center;
    background-color: #f4a702a8;
    list-style: none;
    float: none;
    line-height: 25px;
    margin: 8px;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
}

/*Test 2*/
  .FAQ { 
    vertical-align: top; 
    height:auto ; 
}

.list {
    display:none; 
    height:auto;
    float: left;
}
.show {
    display: none; 
}
.hide:target + .show {
    display: inline; 
}
.hide:target {
    display: none; 
}
.hide:target ~ .list {
    display:inline; 
}

.hide, .show {
    text-align: center;
    text-decoration: none;
    float: left;
}

.list p{
    height:auto;
    margin:0;
}
.question {
    float: left;
    height: auto;
    width: 90%;
    line-height: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
    font-style: italic;
}