.co-background {
    background-color: #EFF0EA;
}

.co-box {
    background-color: #e8e7e5;
}

.co-text {
    color:#484E4A;
}

.co-wtext {
    color: white; 
}

.co-bar {
    background-color: #002B5A;
}

.co-tag {
    background-color: #002c5ab0;
}
    /*
    background: rgb(48,48,48);
background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(99,99,99,1) 50%, rgba(48,48,48,1) 100%);
    /*
    background: rgb(247,245,246);
    background: linear-gradient(90deg, rgba(247,245,246,1) 0%, rgba(244,250,248,1) 0%, rgba(242,76,96,1) 0%, rgba(9,79,104,1) 100%);*/


.co-button {
     background-color: #636363;  
}
    
.b-shad {
    box-shadow: 0 5px 30px #46423f;
}
   /* background: rgb(242,76,96);
    background: linear-gradient(90deg, rgba(242,76,96,1) 0%, rgba(242,76,96,1) 0%, rgba(9,79,104,1) 0%, rgba(247,245,246,1) 100%);
    
    background-color: #EACB48;*/



