.co-background {
    background-color: #FFFCF2;
}

.co-text {
    color:#403D39;
}

.co-textonred {
    color: #EDF2F4;
}

.co-tag {
    background-color: #403D39;
    color: #FFFCF2;
}

.co-box {
    background-color: #D4CEC4;
    color: #403D39;
}

.co-symbol {
    color: #EF233C; 
}

.co-button {
    background-color: #EB5E28;
    color: #EDF2F4; 
}
.co-wtext {
    color: white; 
    text-decoration: none;
}

.co-bar {
    background-color: #252422;
}

.co-b {
    background-color: #8d99ae;
}


    
.b-shad {
    box-shadow: 0 3px 10px #403d3992;
}


.co-footer {
    background-color: #403D39;
}
