* {
    box-sizing: border-box;
}

body {
    font-size: 112.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto;    
    background-color: #ededebd5;
    line-height: 1.5;
    color: #2a2925;
}

header {
    position: fixed;
    color: white;
    height: 48px;
    width: 100%;
    background-color: #002B5A;
    border-bottom: 1px solid #2a2925;
}

main {
    display: flex;
    flex-wrap: wrap;    
    padding-top: 68px;
}
 
footer {
    position: fixed;
    color: white; 
    width: 100%;
    height: 48px;
    bottom: 0px; 
    border-top: 1px solid #2a2925; /*GREY?*/
    background-color: #002B5A;
}

a {
    color: white; 
}

nav {
    display: flex;
    justify-content: space-evenly;   
}

h1 {
    text-align: center;

    margin: 0px;
}

h2 {
    margin: 0px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    width: 100%;
    background: #e8e7e5;
    border-radius: 8px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 30px #39393980;
} 

button {
    display: flex;
    color: white; 
    justify-content: center;
    background-color: #002B5A;
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
 
li {
    justify-content: center;
    background-color: #002B5A;
    color: white; 
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
}
