* {
    box-sizing: border-box;
}

  body {
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px auto 70px;
    font-size: 112.5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
  }

main {
    overflow: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
   }
  
header {
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

ul > li {
    list-style: none;
    font-size: small;
    padding: 5px;
    font-weight: 550;
    padding: 3px 10px;
    margin: 5px 8px; 
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
}

// .scrolling {
//     overflow-y: scroll;
//     }

.name {
    font-size: x-large;
    text-align: center;
}
