.answer { 
    display: flex;
    vertical-align: top; 
    height: auto; 
    justify-content: center;
    flex-wrap: wrap;

}


.collapsible {
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #EB5E28;
    color: #EDF2F4; 

    width: 60%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #EB5E28;
  }

  .content {
    padding: 0;

    overflow: hidden;
    text-align: left;
  }
