.co-background {
    background-color: #FFFCF2;
}

.co-text {
    color:#403D39;
}

.co-tag {
    background-color: #403D39;
    color: #FFFCF2;
}

.co-wtext {
    color: white; 
    text-decoration: none;
}

.co-bar {
    background-color: #252422;
}
    
.b-shad {
    box-shadow: 0 3px 10px #403d3992;
}

