

.create__header {
    text-align: center;
    font-size: large; 
    font-weight: bold;
}

.create__form--label {

    font-size: small;
}

.create__form--input {
    width: 70%;
    padding: 10px; 
    margin: 5px 20px;
}

.create__form--button {
    display: block;
    margin: auto; 
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #EB5E28;
    color: #EDF2F4; 
    margin-top: 10px;
    font-size: large;
}

